In [2]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle 
import tensorflow

WARNING:tensorflow:From d:\Udemy\python\venv\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [3]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
### Preprocess the data 
## Drop the irrelevant data 
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1) #axis=1 -> column , row --> axis =1 
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [12]:
## Encode the catogerical Variables 
label_encode_gender = LabelEncoder ()
data['Gender']=label_encode_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [13]:
from sklearn.preprocessing import OneHotEncoder 
onehot_geo  = OneHotEncoder()
geo_encoder = onehot_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [14]:
geo_df = pd.DataFrame(geo_encoder.toarray(),columns=onehot_geo.get_feature_names_out(['Geography']))
geo_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [15]:
data=pd.concat([data.drop('Geography',axis=1),geo_df],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [ ]:
X = data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [17]:
X_train ,X_test , y_train ,y_test = train_test_split (X,y, test_size=0.2, random_state=42)

In [18]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [19]:
## Loa d the encoder and scaler 

with open ('label_encode_gender.pkl','wb') as file:
    pickle.dump(label_encode_gender,file )

with open ('onehot_geo.pkl','wb') as file:
    pickle.dump(onehot_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

#### ANN Regression Problem statements

In [20]:
### ANN Regression 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [21]:
# X_train.shape = number of input layer 
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)) , ## First Hidden Layer with input layer 
    Dense(32,activation='relu'),  ## HL 2 with 32 Neurons 
    Dense(1) ## In Output layer we will not set any activation functions as this is regeression problem not the classifications  
    ]

)
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

WARNING:tensorflow:From d:\Udemy\python\venv\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\Udemy\python\venv\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [38]:
import datetime
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard  

## Set up the tensorboard 
log_dir ="regressionlogs/fit/"+ datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [24]:
### Set up Early Stopping :
early_stopping = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

# We are doing early stopping as because we don't want to keep training our model it's trained on lesser epoches .

In [25]:
## Training the models 
history= model.fit(
    X_train,y_train,validation_data = (X_test, y_test) , 
    epochs = 100,
    callbacks=[tensorflow_callback, early_stopping]
)

Epoch 1/100
WARNING:tensorflow:From d:\Udemy\python\venv\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\Udemy\python\venv\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 5s 8ms/step - loss: 100368.7812 - mae: 100368.7812 - val_loss: 98484.7656 - val_mae: 98484.7656
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99534.1484 - mae: 99534.1484 - val_loss: 96810.5156 - val_mae: 96810.5156
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 96646.9062 - mae: 96646.9062 - val_loss: 92572.4297 - val_mae: 92572.4297
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 91026.7344 - mae: 91026.7344 - val_loss: 85595.0000 - val_mae: 85595.0000
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 82907.2734 - mae: 82907.2734 - val_loss: 76687.1172 - val_mae: 76687.1172
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 73516.7109 - mae: 73516.7109 - val_loss: 67574.1094 - val_mae: 67574.1094
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 64629.7891 - mae: 64629.7891 - val_loss: 59980.7305 - val_mae: 59980.7305
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 57832.5391 - mae: 57832.5391 - val_loss: 54810.2969 - val_mae: 54810.2969
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 53720.0156 - mae: 53720.0156 - val_loss: 52100.3125 - val_mae: 52100.3125
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 51650.3320 - mae: 51650.3320 - val_loss: 51040.5391 - val_mae: 51040.5391
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 50769.4570 - mae: 50769.4570 - val_loss: 50726.0391 - val_mae: 50726.0391
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50457.9219 - mae: 50457.9219 - val_loss: 50630.6914 - val_mae: 50630.6914
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 50326.9883 - mae: 50326.9883 - val_loss: 50582.2852 - val_mae: 50582.2852
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50250.0859 - mae: 50250.0859 - val_loss: 50545.8555 - val_mae: 50545.8555
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50191.2773 - mae: 50191.2773 - val_loss: 50517.1602 - val_mae: 50517.1602
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50140.5156 - mae: 50140.5156 - val_loss: 50487.3594 - val_mae: 50487.3594
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50090.6094 - mae: 50090.6094 - val_loss: 50460.9492 - val_mae: 50460.9492
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 50043.7344 - mae: 50043.7344 - val_loss: 50445.1328 - val_mae: 50445.1328
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 50008.5938 - mae: 50008.5938 - val_loss: 50429.8984 - val_mae: 50429.8984
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49972.3594 - mae: 49972.3594 - val_loss: 50397.6250 - val_mae: 50397.6250
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49939.5625 - mae: 49939.5625 - val_loss: 50388.9219 - val_mae: 50388.9219
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 49909.7773 - mae: 49909.7773 - val_loss: 50369.1328 - val_mae: 50369.1328
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49882.0352 - mae: 49882.0352 - val_loss: 50354.8594 - val_mae: 50354.8594
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49856.7852 - mae: 49856.7852 - val_loss: 50336.2695 - val_mae: 50336.2695
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49832.1406 - mae: 49832.1406 - val_loss: 50322.7461 - val_mae: 50322.7461
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49807.6875 - mae: 49807.6875 - val_loss: 50320.1680 - val_mae: 50320.1680
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49786.9844 - mae: 49786.9844 - val_loss: 50306.3477 - val_mae: 50306.3477
Epoch 28/100
250/250 [==============================] - 2s 9ms/step - loss: 49769.9648 - mae: 49769.9648 - val_loss: 50305.3477 - val_mae: 50305.3477
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 49746.0781 - mae: 49746.0781 - val_loss: 50289.9727 - val_mae: 50289.9727
Epoch 30/100
250/250 [==============================] - 1s 6ms/step - loss: 49733.4219 - mae: 49733.4219 - val_loss: 50283.4102 - val_mae: 50283.4102
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49713.1875 - mae: 49713.1875 - val_loss: 50275.3008 - val_mae: 50275.3008
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49698.8242 - mae: 49698.8242 - val_loss: 50274.5508 - val_mae: 50274.5508
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49683.2734 - mae: 49683.2734 - val_loss: 50277.1094 - val_mae: 50277.1094
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49668.8359 - mae: 49668.8359 - val_loss: 50267.2773 - val_mae: 50267.2773
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49657.1719 - mae: 49657.1719 - val_loss: 50258.5000 - val_mae: 50258.5000
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49643.2031 - mae: 49643.2031 - val_loss: 50255.0664 - val_mae: 50255.0664
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49632.0625 - mae: 49632.0625 - val_loss: 50256.8750 - val_mae: 50256.8750
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49622.1211 - mae: 49622.1211 - val_loss: 50262.9023 - val_mae: 50262.9023
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49609.0000 - mae: 49609.0000 - val_loss: 50252.4492 - val_mae: 50252.4492
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49597.4609 - mae: 49597.4609 - val_loss: 50254.2266 - val_mae: 50254.2266
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49588.4453 - mae: 49588.4453 - val_loss: 50247.6016 - val_mae: 50247.6016
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49579.1914 - mae: 49579.1914 - val_loss: 50250.9844 - val_mae: 50250.9844
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49569.5312 - mae: 49569.5312 - val_loss: 50241.5469 - val_mae: 50241.5469
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49564.0625 - mae: 49564.0625 - val_loss: 50235.3516 - val_mae: 50235.3516
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 49552.2656 - mae: 49552.2656 - val_loss: 50233.9414 - val_mae: 50233.9414
Epoch 46/100
250/250 [==============================] - 2s 8ms/step - loss: 49545.0312 - mae: 49545.0312 - val_loss: 50239.2188 - val_mae: 50239.2188
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49534.3984 - mae: 49534.3984 - val_loss: 50240.2578 - val_mae: 50240.2578
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49528.4258 - mae: 49528.4258 - val_loss: 50241.8164 - val_mae: 50241.8164
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 49522.2148 - mae: 49522.2148 - val_loss: 50239.3164 - val_mae: 50239.3164
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 49514.9727 - mae: 49514.9727 - val_loss: 50228.0898 - val_mae: 50228.0898
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49507.6992 - mae: 49507.6992 - val_loss: 50237.9805 - val_mae: 50237.9805
Epoch 52/100
250/250 [==============================] - 2s 6ms/step - loss: 49504.5547 - mae: 49504.5547 - val_loss: 50236.1406 - val_mae: 50236.1406
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 49495.2344 - mae: 49495.2344 - val_loss: 50241.8945 - val_mae: 50241.8945
Epoch 54/100
250/250 [==============================] - 1s 5ms/step - loss: 49486.5664 - mae: 49486.5664 - val_loss: 50235.2695 - val_mae: 50235.2695
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 49481.4609 - mae: 49481.4609 - val_loss: 50248.5430 - val_mae: 50248.5430
Epoch 56/100
250/250 [==============================] - 1s 6ms/step - loss: 49474.9531 - mae: 49474.9531 - val_loss: 50243.6484 - val_mae: 50243.6484
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49469.5469 - mae: 49469.5469 - val_loss: 50239.7383 - val_mae: 50239.7383
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 49462.6641 - mae: 49462.6641 - val_loss: 50246.5391 - val_mae: 50246.5391
Epoch 59/100
250/250 [==============================] - 3s 11ms/step - loss: 49454.3086 - mae: 49454.3086 - val_loss: 50243.0469 - val_mae: 50243.0469
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49449.2344 - mae: 49449.2344 - val_loss: 50247.7930 - val_mae: 50247.7930

In [26]:
### Load Tensorboard Extension
%load_ext tensorboard

In [42]:
%tensorboard --logdir logs/fit/20250315-173746

Reusing TensorBoard on port 6008 (pid 10972), started 0:00:10 ago. (Use '!kill 10972' to kill it.)

In [43]:
## Evaluate the models on the test data :
test_loss, test_mae =model.evaluate(X_test,y_test)
print(f'Test MAE :{test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50228.0898 - mae: 50228.0898
Test MAE :50228.08984375

In [44]:
model.save('regression_model.h5')

d:\Udemy\python\venv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [ ]:
#######Streamlit deployments